* {
    margin: 0%;
    padding: 0%;
}

/* Grid pour séparer les différentes zones du site */
body {
    background-color: #ecf0f1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto 2fr auto;
    grid-template-areas:
        "header header"
        "sidebar section"
        "footer footer"
    ;
}

header,
footer {
    padding: 1% 0%;
    width: 100%;
    background: rgba(44, 62, 80, 1);
    background: linear-gradient(90deg, rgba(44, 62, 80, 1) 0%, rgba(44, 100, 135, 1) 100%);
}

/* Grid pour placer les éléments du header et on donne comme nom header pour le grid du body */
header {
    display: grid;
    grid-area: header;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo nav connect";
    justify-items: center;
    align-items: center;
}

/* Centre le logo et on le nomme pour le grid du header */
.header-logo {
    width: 100%;
    height: 100%;
    grid-area: logo;
    text-align: center;
}

/* Centre la navbar et donne un nom pour le grid du header */
.header-nav-links {
    grid-area: nav;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

/* On fait un flex pour les éléments de la navbar pour les aligner */
.header-nav-links ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.header-nav-links li {
    list-style: none;
}

.header-nav-links a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-nav-links a:hover {
    text-shadow: -1px -1px 7px #ecf0f1;
    color: black;
}

/* donne un nom pour le grid du header de la navbar du pannier et la connection */
.header-nav-shopping-cart {
    width: 100%;
    height: 100%;
    grid-area: connect;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav-shopping-cart a {
    text-decoration: none;
    color: black;
}

/* décoration de la side barre avec un display flex pour la media queries plus tard */
aside {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(22, 160, 133);
    background: linear-gradient(180deg, rgb(144, 185, 209) 0%, rgba(22, 55, 160, 1) 100%);
    border: 1px solid #1abc9c;
}

aside h2 {
    margin: 40% 0%;
}

aside li {
    list-style: none;
    padding: 10px;
}

aside a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #fff;

}

aside a:hover {
    color: black;
}

.sidebar-home {
    margin-bottom: 40%;
    border-bottom: 1px solid black;
}

.categorie {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 15%;
}

.sous-categorie li {
    box-shadow: 1px 1px 6px black;
    margin: 10% 0%;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}

.sous-categorie li:hover {
    box-shadow: none;
}

/* Display grid pour les éléments a l'interieur de la section */
section {
    width: 100%;
    min-height: 100vh;
    grid-area: section;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-areas:
        "titre titre"
        "promo promo"
        "note plus"
    ;
    justify-items: center;
    align-items: center;
    background-color: #f8c291;
}

.section-titre {
    grid-area: titre;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-promo {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: promo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-note {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: note;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-plus {
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-area: plus;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    margin: 10% 0%;
    border: 1px solid #e58e26;
    border-radius: 40px;
    width: 300px;
    height: 300px;
}


/* donne le nom pour le body et on display grid pour arranger les éléments a l'interieur */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 8fr 0.5fr 1fr;
    grid-template-areas:
        "footer-address footer-nav-links footer-nav-help footer-news-letter"
        "footer-border footer-border footer-border footer-border"
        "footer-end footer-end footer-end footer-end"
    ;
}

/* Nommage du logo et de l'adresse et décoration */
.footer-address {
    grid-area: footer-address;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.footer-address h3 {
    color: #ecf0f1;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-address address {
    color: #bdc3c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nommage de la navbar de liens dans le footer et décoration */
.footer-nav-links {
    margin-left: 40%;
    grid-area: footer-nav-links;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-nav-links ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-nav-links li:before {
    color: #bdc3c7;
    content: '- ';
}

.footer-nav-links li {
    margin: 4% 0%;
}

.footer-nav-links a {
    color: #bdc3c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.footer-nav-links a:hover {
    text-shadow: -1px -1px 7px #ecf0f1;
}

/* nommage de la navbar d'aide dans le footer et décoration */
.footer-nav-help {
    grid-area: footer-nav-help;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-nav-help ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-nav-help li:before {
    color: #bdc3c7;
    content: '- ';
}

.footer-nav-help li {
    margin: 4% 0%;
}

.footer-nav-help a {
    color: #bdc3c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.footer-nav-help a:hover {
    text-shadow: -1px -1px 7px #ecf0f1;
}

/* Nommage de la newsletter du footer et décoration */
.footer-news-letter {
    grid-area: footer-news-letter;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-input-mail {
    background: transparent;
    border: none;
    border-bottom: 1px solid #bdc3c7;
}

.footer-input-mail::placeholder {
    color: #ecf0f181;
}

.footer-input-mail:focus {
    padding: 0 3%;
    outline: none;
    color: #ecf0f1;
    border: none;
    border-bottom: 1px solid #bdc3c7;

}

.footer-input-submit {
    margin-left: 2%;
    padding: 1px 5px;
    color: #ecf0f1;
    border-radius: 5px;
    background-color: #3498db;
    border: none;
    border-right: 3px solid #206999;
    border-bottom: 4px solid #206999;
    cursor: pointer;
}

.footer-input-submit:hover {
    box-shadow: -1px -1px 2px 0px #bdc3c7;

}

.footer-input-submit:active {
    border-color: transparent;
}

.nav-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ecf0f1;
}


/* Les copyrights qui sont en toute fn de page */
.footer-border {
    border-top: 1px solid black;
    grid-area: footer-border;
}

.footer-end {
    margin: 1%;
    grid-area: footer-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ecf0f1;
}

@media screen and (max-width : 1500px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 4fr 4fr;
        grid-template-areas:
            "titre"
            "promo"
            "note"
            "plus"
        ;
    }


}

@media screen and (max-width: 750px) {
    .article-image {
        display: flex;
        flex-direction: column;
    }

    .section-titre {
        font-size: 1.3rem;
    }

    .section-promo,
    .section-note,
    .section-plus {
        font-size: .8rem;
    }

    section img {
        width: 250px;
        height: 250px;
    }

    body {
        grid-template-columns: 1fr 3fr;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 4fr 4fr 0.5fr 1fr;
        grid-template-areas:
            "footer-address footer-nav-links footer-news-letter"
            "footer-address footer-nav-help footer-news-letter"
            "footer-border footer-border footer-border "
            "footer-end footer-end footer-end "
        ;
    }

    .footer-nav-links {
        margin: 0%;
        justify-self: center;
    }

    .footer-nav-help {
        justify-self: center;
    }
}

@media screen and (max-width: 625px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 5fr 5fr 0.5fr 1fr;
        grid-template-areas:
            "footer-address"
            "footer-nav-links"
            "footer-nav-help"
            "footer-news-letter"
            "footer-border"
            "footer-end"
        ;
        justify-items: center;
        align-items: center;
    }

    .footer-address {
        width: 100%;
    }

    .footer-nav-links {
        width: 100%;
        text-align: center;
    }

    .footer-nav-help {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "logo"
            "nav"
            "connect";
        justify-items: center;
        align-items: center;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 10fr auto;
        grid-template-areas:
            "header"
            "sidebar"
            "section"
            "footer"
        ;
    }

    section {
        height: 100%;
    }

    aside h2 {
        margin: 1%;
    }

    aside {
        margin: 0%;

    }

    .footer-border {
        display: none;
    }
}